BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 1fc458d6fba2

CREATE TABLE action_logs (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT, 
    agent_id BIGINT, 
    tenant_id BIGINT, 
    action_type VARCHAR(20) NOT NULL, 
    tool_name VARCHAR(100) NOT NULL, 
    input TEXT, 
    output TEXT, 
    status VARCHAR(20) NOT NULL, 
    execution_time INTEGER, 
    error_message TEXT, 
    approval_required BOOLEAN NOT NULL, 
    approved_by BIGINT, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE conversations (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT, 
    session_id VARCHAR(36), 
    tenant_id BIGINT, 
    project_id BIGINT, 
    active_agent_id BIGINT, 
    interaction_mode VARCHAR(10) NOT NULL, 
    handoff_state VARCHAR(30) NOT NULL, 
    title VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    last_message_at TIMESTAMP WITH TIME ZONE, 
    is_deleted BOOLEAN NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE documents (
    id BIGSERIAL NOT NULL, 
    tenant_id BIGINT, 
    project_id BIGINT, 
    user_id BIGINT, 
    name VARCHAR(255) NOT NULL, 
    is_processed BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE memories (
    id BIGSERIAL NOT NULL, 
    tenant_id BIGINT, 
    project_id BIGINT, 
    user_id BIGINT, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE conversation_shares (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    project_id BIGINT, 
    shared_with_user_id BIGINT NOT NULL, 
    access_level VARCHAR(10) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE
);

CREATE TABLE conversation_summaries (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    tenant_id BIGINT, 
    project_id BIGINT, 
    summary_text TEXT NOT NULL, 
    from_message_id BIGINT NOT NULL, 
    to_message_id BIGINT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE
);

CREATE TABLE document_chunks (
    id BIGSERIAL NOT NULL, 
    document_id BIGINT NOT NULL, 
    content TEXT NOT NULL, 
    chunk_index INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES documents (id) ON DELETE CASCADE
);

CREATE TABLE messages (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    tenant_id BIGINT, 
    project_id BIGINT, 
    role VARCHAR(20) NOT NULL, 
    content TEXT NOT NULL, 
    agent_id BIGINT, 
    author_type VARCHAR(10) NOT NULL, 
    author_user_id BIGINT, 
    last_human_seen_at TIMESTAMP WITH TIME ZONE, 
    last_human_action_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE
);

CREATE TABLE document_vectors (
    id BIGSERIAL NOT NULL, 
    chunk_id BIGINT NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(chunk_id) REFERENCES document_chunks (id) ON DELETE CASCADE
);

INSERT INTO alembic_version (version_num) VALUES ('1fc458d6fba2') RETURNING alembic_version.version_num;

-- Running upgrade 1fc458d6fba2 -> 2474a5913b41

CREATE TABLE pending_actions (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    action_type VARCHAR(50) NOT NULL, 
    payload TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE
);

UPDATE alembic_version SET version_num='2474a5913b41' WHERE alembic_version.version_num = '1fc458d6fba2';

-- Running upgrade 2474a5913b41 -> c3d1a82e7f90

ALTER TABLE conversations ADD COLUMN conversation_type VARCHAR(20) DEFAULT 'ai' NOT NULL;

ALTER TABLE conversations ADD COLUMN created_by_user_id BIGINT;

ALTER TABLE conversations ADD COLUMN dm_user_low_id BIGINT;

ALTER TABLE conversations ADD COLUMN dm_user_high_id BIGINT;

ALTER TABLE conversations ADD COLUMN last_message_id BIGINT;

CREATE UNIQUE INDEX ix_conversations_dm_pair ON conversations (dm_user_low_id, dm_user_high_id) WHERE conversation_type = 'dm';

ALTER TABLE messages ADD COLUMN message_type VARCHAR(20) DEFAULT 'text' NOT NULL;

CREATE TABLE conversation_participants (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    user_id BIGINT NOT NULL, 
    participant_role VARCHAR(20) DEFAULT 'member' NOT NULL, 
    joined_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    last_read_message_id BIGINT, 
    last_read_at TIMESTAMP WITH TIME ZONE, 
    is_muted BOOLEAN DEFAULT false NOT NULL, 
    is_archived BOOLEAN DEFAULT false NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE, 
    CONSTRAINT uq_participant_conv_user UNIQUE (conversation_id, user_id)
);

CREATE INDEX ix_participants_user_id ON conversation_participants (user_id);

UPDATE alembic_version SET version_num='c3d1a82e7f90' WHERE alembic_version.version_num = '2474a5913b41';

-- Running upgrade c3d1a82e7f90 -> e96501c4baa8

ALTER TABLE conversations ADD COLUMN is_archived BOOLEAN DEFAULT false NOT NULL;

UPDATE alembic_version SET version_num='e96501c4baa8' WHERE alembic_version.version_num = 'c3d1a82e7f90';

-- Running upgrade e96501c4baa8 -> c9e5d7f1a8b3

CREATE EXTENSION IF NOT EXISTS vector;

ALTER TABLE documents ADD COLUMN original_filename VARCHAR(255);

ALTER TABLE documents ADD COLUMN file_type VARCHAR(20);

ALTER TABLE documents ADD COLUMN file_size_bytes BIGINT;

ALTER TABLE documents ADD COLUMN storage_path VARCHAR(500);

ALTER TABLE documents ADD COLUMN extracted_text_length INTEGER;

ALTER TABLE documents ADD COLUMN processing_error TEXT;

ALTER TABLE document_chunks ADD COLUMN token_count INTEGER;

ALTER TABLE document_chunks ADD COLUMN char_start INTEGER;

ALTER TABLE document_chunks ADD COLUMN char_end INTEGER;

ALTER TABLE document_vectors ADD COLUMN embedding vector(1024);

ALTER TABLE document_vectors ADD COLUMN model VARCHAR(50);

CREATE INDEX ix_document_vectors_embedding_hnsw ON document_vectors USING hnsw (embedding vector_cosine_ops) WITH (m = 16, ef_construction = 64);

UPDATE alembic_version SET version_num='c9e5d7f1a8b3' WHERE alembic_version.version_num = 'e96501c4baa8';

-- Running upgrade c9e5d7f1a8b3 -> f3a2b1c8d7e9

CREATE TABLE sms_outbox (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT, 
    tenant_id BIGINT, 
    to_phone VARCHAR(20) NOT NULL, 
    body TEXT NOT NULL, 
    purpose VARCHAR(30) DEFAULT 'user_request' NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    attempts INTEGER DEFAULT '0' NOT NULL, 
    last_error TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    claimed_at TIMESTAMP WITH TIME ZONE, 
    sent_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_sms_outbox_status_created ON sms_outbox (status, created_at);

CREATE INDEX ix_sms_outbox_user_created ON sms_outbox (user_id, created_at);

UPDATE alembic_version SET version_num='f3a2b1c8d7e9' WHERE alembic_version.version_num = 'c9e5d7f1a8b3';

-- Running upgrade f3a2b1c8d7e9 -> a4b5c6d7e8f9

CREATE TABLE sms_inbox (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT, 
    tenant_id BIGINT, 
    from_phone VARCHAR(20) NOT NULL, 
    body TEXT NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    read_at TIMESTAMP WITH TIME ZONE, 
    stored_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    meta TEXT, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_sms_inbox_persona_received ON sms_inbox (persona_id, received_at);

CREATE INDEX ix_sms_inbox_persona_read_received ON sms_inbox (persona_id, read_at, received_at);

CREATE TABLE phone_calls (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT, 
    tenant_id BIGINT, 
    peer_phone VARCHAR(20) NOT NULL, 
    direction VARCHAR(10) NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    duration_s INTEGER, 
    seen_at TIMESTAMP WITH TIME ZONE, 
    stored_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    meta TEXT, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_phone_calls_persona_started ON phone_calls (persona_id, started_at);

CREATE INDEX ix_phone_calls_direction_started ON phone_calls (direction, started_at);

UPDATE alembic_version SET version_num='a4b5c6d7e8f9' WHERE alembic_version.version_num = 'f3a2b1c8d7e9';

-- Running upgrade a4b5c6d7e8f9 -> b5c6d7e8f0a1

ALTER TABLE sms_inbox ADD COLUMN processed_at TIMESTAMP WITH TIME ZONE;

CREATE INDEX ix_sms_inbox_persona_processed ON sms_inbox (persona_id, processed_at);

CREATE TABLE tasks (
    id BIGSERIAL NOT NULL, 
    tenant_id BIGINT, 
    persona_id BIGINT, 
    source_type VARCHAR(30) NOT NULL, 
    source_id BIGINT, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    status VARCHAR(20) DEFAULT 'open' NOT NULL, 
    priority VARCHAR(10) DEFAULT 'normal' NOT NULL, 
    due_at TIMESTAMP WITH TIME ZONE, 
    execution_conversation_id BIGINT, 
    result_summary TEXT, 
    error TEXT, 
    created_by_user_id BIGINT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    attempts INTEGER DEFAULT '0' NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_tasks_status_created ON tasks (status, created_at);

CREATE INDEX ix_tasks_persona_status ON tasks (tenant_id, persona_id, status);

CREATE INDEX ix_tasks_source ON tasks (source_type, source_id);

UPDATE alembic_version SET version_num='b5c6d7e8f0a1' WHERE alembic_version.version_num = 'a4b5c6d7e8f9';

-- Running upgrade b5c6d7e8f0a1 -> d7a1b2c3e4f5

CREATE TABLE email_inbox (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT, 
    tenant_id BIGINT, 
    from_email VARCHAR(320) NOT NULL, 
    from_name VARCHAR(255), 
    to_email VARCHAR(320) NOT NULL, 
    subject VARCHAR(998), 
    body TEXT, 
    message_id VARCHAR(998) NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    read_at TIMESTAMP WITH TIME ZONE, 
    processed_at TIMESTAMP WITH TIME ZONE, 
    stored_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    meta TEXT, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_email_inbox_persona_message_unique ON email_inbox (persona_id, message_id);

CREATE INDEX ix_email_inbox_persona_received ON email_inbox (persona_id, received_at);

CREATE INDEX ix_email_inbox_persona_read_received ON email_inbox (persona_id, read_at, received_at);

CREATE INDEX ix_email_inbox_persona_processed_received ON email_inbox (persona_id, processed_at, received_at);

UPDATE alembic_version SET version_num='d7a1b2c3e4f5' WHERE alembic_version.version_num = 'b5c6d7e8f0a1';

-- Running upgrade d7a1b2c3e4f5 -> d8b2c3d4e5f6

CREATE TABLE email_outbox (
    id BIGSERIAL NOT NULL, 
    user_id BIGINT, 
    tenant_id BIGINT, 
    persona_id BIGINT, 
    to_email VARCHAR(320) NOT NULL, 
    cc TEXT, 
    bcc TEXT, 
    subject VARCHAR(998), 
    body TEXT NOT NULL, 
    purpose VARCHAR(30) DEFAULT 'user_request' NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    attempts INTEGER DEFAULT '0' NOT NULL, 
    last_error TEXT, 
    conversation_id BIGINT, 
    from_identity VARCHAR(20) DEFAULT 'persona' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    claimed_at TIMESTAMP WITH TIME ZONE, 
    sent_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_email_outbox_status_created ON email_outbox (status, created_at);

CREATE INDEX ix_email_outbox_user_created ON email_outbox (user_id, created_at);

CREATE INDEX ix_email_outbox_persona_created ON email_outbox (persona_id, created_at);

UPDATE alembic_version SET version_num='d8b2c3d4e5f6' WHERE alembic_version.version_num = 'd7a1b2c3e4f5';

-- Running upgrade d8b2c3d4e5f6 -> e9c3d4e5f6a7

CREATE TABLE thoughts (
    id BIGSERIAL NOT NULL, 
    content TEXT NOT NULL, 
    type VARCHAR(30) NOT NULL, 
    status VARCHAR(20) DEFAULT 'note' NOT NULL, 
    certainty INTEGER DEFAULT '50' NOT NULL, 
    primary_parent_id BIGINT, 
    tenant_scope BIGINT, 
    author_user_id BIGINT, 
    author_persona_id BIGINT, 
    source_event_type VARCHAR(30), 
    source_event_id BIGINT, 
    meta TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    modified_at TIMESTAMP WITH TIME ZONE, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_thoughts_tenant_status_created ON thoughts (tenant_scope, status, created_at);

CREATE INDEX ix_thoughts_parent ON thoughts (primary_parent_id);

CREATE INDEX ix_thoughts_certainty_created ON thoughts (certainty, created_at);

CREATE INDEX ix_thoughts_author_user ON thoughts (author_user_id, created_at);

CREATE TABLE thought_entity_links (
    id BIGSERIAL NOT NULL, 
    thought_id BIGINT NOT NULL, 
    entity_type VARCHAR(30) NOT NULL, 
    entity_id BIGINT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_thought_entity_links_unique ON thought_entity_links (thought_id, entity_type, entity_id);

CREATE INDEX ix_thought_entity_links_entity ON thought_entity_links (entity_type, entity_id);

UPDATE alembic_version SET version_num='e9c3d4e5f6a7' WHERE alembic_version.version_num = 'd8b2c3d4e5f6';

-- Running upgrade e9c3d4e5f6a7 -> f0b1c2d3e4a5

CREATE TABLE marti_questions (
    id BIGSERIAL NOT NULL, 
    thought_id BIGINT NOT NULL, 
    question_text TEXT NOT NULL, 
    target_user_id BIGINT NOT NULL, 
    status VARCHAR(20) DEFAULT 'open' NOT NULL, 
    answer_choice VARCHAR(20), 
    answer_text TEXT, 
    answered_at TIMESTAMP WITH TIME ZONE, 
    answered_by_user_id BIGINT, 
    text_reviewed_at TIMESTAMP WITH TIME ZONE, 
    priority_score INTEGER DEFAULT '50' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_marti_questions_target_status_priority ON marti_questions (target_user_id, status, priority_score);

CREATE INDEX ix_marti_questions_thought_status ON marti_questions (thought_id, status);

CREATE INDEX ix_marti_questions_pending_text_review ON marti_questions (answered_at) WHERE answer_text IS NOT NULL AND text_reviewed_at IS NULL;

UPDATE alembic_version SET version_num='f0b1c2d3e4a5' WHERE alembic_version.version_num = 'e9c3d4e5f6a7';

-- Running upgrade f0b1c2d3e4a5 -> a9b8c7d6e5f4

CREATE TABLE auto_send_consents (
    id BIGSERIAL NOT NULL, 
    target_user_id BIGINT, 
    target_contact VARCHAR(320), 
    channel VARCHAR(10) NOT NULL, 
    granted_by_user_id BIGINT NOT NULL, 
    granted_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    revoked_by_user_id BIGINT, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    note TEXT, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_auto_send_consents_target_user_active ON auto_send_consents (target_user_id, channel) WHERE revoked_at IS NULL AND target_user_id IS NOT NULL;

CREATE INDEX ix_auto_send_consents_target_contact_active ON auto_send_consents (target_contact, channel) WHERE revoked_at IS NULL AND target_contact IS NOT NULL;

CREATE INDEX ix_auto_send_consents_granted_by_at ON auto_send_consents (granted_by_user_id, granted_at);

ALTER TABLE auto_send_consents ADD CONSTRAINT ck_auto_send_consents_target_not_null CHECK ((target_user_id IS NOT NULL) OR (target_contact IS NOT NULL));

ALTER TABLE auto_send_consents ADD CONSTRAINT ck_auto_send_consents_channel CHECK (channel IN ('email', 'sms'));

UPDATE alembic_version SET version_num='a9b8c7d6e5f4' WHERE alembic_version.version_num = 'f0b1c2d3e4a5';

-- Running upgrade a9b8c7d6e5f4 -> b6c7d8e9f0a1

CREATE TABLE llm_calls (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    message_id BIGINT, 
    kind VARCHAR(30) NOT NULL, 
    model VARCHAR(100) NOT NULL, 
    request_json JSONB NOT NULL, 
    response_json JSONB, 
    prompt_tokens INTEGER, 
    output_tokens INTEGER, 
    latency_ms INTEGER, 
    error TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_llm_calls_message_kind ON llm_calls (message_id, kind);

CREATE INDEX ix_llm_calls_conversation_created ON llm_calls (conversation_id, created_at);

CREATE INDEX ix_llm_calls_created ON llm_calls (created_at);

UPDATE alembic_version SET version_num='b6c7d8e9f0a1' WHERE alembic_version.version_num = 'a9b8c7d6e5f4';

-- Running upgrade b6c7d8e9f0a1 -> c7d8e9f0a1b2

ALTER TABLE llm_calls ADD COLUMN tenant_id BIGINT;

ALTER TABLE llm_calls ADD COLUMN user_id BIGINT;

ALTER TABLE llm_calls ADD COLUMN persona_id BIGINT;

ALTER TABLE llm_calls ADD COLUMN cost_usd NUMERIC(10, 6);

ALTER TABLE llm_calls ADD COLUMN is_auto BOOLEAN DEFAULT false NOT NULL;

CREATE INDEX ix_llm_calls_tenant_created ON llm_calls (tenant_id, created_at);

CREATE INDEX ix_llm_calls_user_created ON llm_calls (user_id, created_at);

UPDATE alembic_version SET version_num='c7d8e9f0a1b2' WHERE alembic_version.version_num = 'b6c7d8e9f0a1';

-- Running upgrade c7d8e9f0a1b2 -> d8e9f0a1b2c3

ALTER TABLE email_inbox ADD COLUMN priority_score INTEGER DEFAULT '100' NOT NULL;

CREATE INDEX ix_email_inbox_priority ON email_inbox (priority_score DESC, received_at DESC);

ALTER TABLE sms_inbox ADD COLUMN priority_score INTEGER DEFAULT '100' NOT NULL;

CREATE INDEX ix_sms_inbox_priority ON sms_inbox (priority_score DESC, received_at DESC);

ALTER TABLE thoughts ADD COLUMN priority_score INTEGER DEFAULT '100' NOT NULL;

CREATE INDEX ix_thoughts_priority ON thoughts (priority_score DESC, created_at DESC);

UPDATE alembic_version SET version_num='d8e9f0a1b2c3' WHERE alembic_version.version_num = 'c7d8e9f0a1b2';

-- Running upgrade d8e9f0a1b2c3 -> e9f0a1b2c3d4

ALTER TABLE sms_inbox ADD COLUMN is_personal BOOLEAN DEFAULT false NOT NULL;

CREATE INDEX ix_sms_inbox_personal ON sms_inbox (is_personal) WHERE is_personal = true;

ALTER TABLE sms_outbox ADD COLUMN is_personal BOOLEAN DEFAULT false NOT NULL;

CREATE INDEX ix_sms_outbox_personal ON sms_outbox (is_personal) WHERE is_personal = true;

UPDATE alembic_version SET version_num='e9f0a1b2c3d4' WHERE alembic_version.version_num = 'd8e9f0a1b2c3';

-- Running upgrade e9f0a1b2c3d4 -> e0a1b2c3d4e5

CREATE TABLE media_files (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT, 
    user_id BIGINT, 
    tenant_id BIGINT, 
    conversation_id BIGINT, 
    message_id BIGINT, 
    kind VARCHAR(20) NOT NULL, 
    source VARCHAR(30) NOT NULL, 
    mime_type VARCHAR(100) NOT NULL, 
    file_size BIGINT NOT NULL, 
    sha256 VARCHAR(64) NOT NULL, 
    storage_provider VARCHAR(20) DEFAULT 'local' NOT NULL, 
    storage_path TEXT NOT NULL, 
    original_filename VARCHAR(255), 
    width INTEGER, 
    height INTEGER, 
    duration_ms INTEGER, 
    transcript TEXT, 
    description TEXT, 
    ai_metadata JSONB, 
    processed_at TIMESTAMP WITH TIME ZONE, 
    processing_error TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    deleted_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_media_files_size_limits CHECK (file_size > 0 AND file_size <= 104857600)
);

CREATE INDEX ix_media_files_persona ON media_files (persona_id, created_at DESC) WHERE deleted_at IS NULL;

CREATE INDEX ix_media_files_conversation ON media_files (conversation_id) WHERE conversation_id IS NOT NULL AND deleted_at IS NULL;

CREATE INDEX ix_media_files_message ON media_files (message_id) WHERE message_id IS NOT NULL;

CREATE INDEX ix_media_files_sha256 ON media_files (sha256);

CREATE INDEX ix_media_files_kind ON media_files (kind, created_at DESC);

UPDATE alembic_version SET version_num='e0a1b2c3d4e5' WHERE alembic_version.version_num = 'e9f0a1b2c3d4';

-- Running upgrade e0a1b2c3d4e5 -> f1c2d3e4a5b6

CREATE EXTENSION IF NOT EXISTS vector;

CREATE TABLE thought_vectors (
    id BIGSERIAL NOT NULL, 
    thought_id BIGINT NOT NULL, 
    model VARCHAR(50), 
    author_persona_id BIGINT, 
    tenant_scope BIGINT, 
    status VARCHAR(20) NOT NULL, 
    entity_user_ids BIGINT[] DEFAULT '{}'::bigint[] NOT NULL, 
    entity_tenant_ids BIGINT[] DEFAULT '{}'::bigint[] NOT NULL, 
    entity_project_ids BIGINT[] DEFAULT '{}'::bigint[] NOT NULL, 
    entity_persona_ids BIGINT[] DEFAULT '{}'::bigint[] NOT NULL, 
    is_diary BOOLEAN DEFAULT false NOT NULL, 
    thought_type VARCHAR(20) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (thought_id), 
    FOREIGN KEY(thought_id) REFERENCES thoughts (id) ON DELETE CASCADE
);

ALTER TABLE thought_vectors ADD COLUMN embedding vector(1024);

CREATE INDEX ix_thought_vectors_embedding_hnsw ON thought_vectors USING hnsw (embedding vector_cosine_ops) WITH (m = 16, ef_construction = 64);

CREATE INDEX ix_thought_vectors_persona_status ON thought_vectors (author_persona_id, status);

CREATE INDEX ix_thought_vectors_entity_users ON thought_vectors USING GIN (entity_user_ids);

CREATE INDEX ix_thought_vectors_entity_tenants ON thought_vectors USING GIN (entity_tenant_ids);

CREATE INDEX ix_thought_vectors_entity_projects ON thought_vectors USING GIN (entity_project_ids);

CREATE INDEX ix_thought_vectors_type_diary ON thought_vectors (thought_type, is_diary);

UPDATE alembic_version SET version_num='f1c2d3e4a5b6' WHERE alembic_version.version_num = 'e0a1b2c3d4e5';

-- Running upgrade f1c2d3e4a5b6 -> f2d3e4a5b6c7

CREATE TABLE retrieval_feedback (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT NOT NULL, 
    thought_id BIGINT NOT NULL, 
    llm_call_id BIGINT, 
    conversation_id BIGINT, 
    user_message TEXT, 
    issue VARCHAR(50) NOT NULL, 
    issue_detail TEXT, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    resolution VARCHAR(50), 
    resolved_at TIMESTAMP WITH TIME ZONE, 
    resolved_by_user_id BIGINT, 
    resolved_note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_retrieval_feedback_status CHECK (status IN ('pending', 'reviewed', 'ignored')), 
    FOREIGN KEY(thought_id) REFERENCES thoughts (id) ON DELETE CASCADE
);

CREATE INDEX ix_retrieval_feedback_persona_status ON retrieval_feedback (persona_id, status, created_at DESC);

CREATE INDEX ix_retrieval_feedback_thought ON retrieval_feedback (thought_id);

UPDATE alembic_version SET version_num='f2d3e4a5b6c7' WHERE alembic_version.version_num = 'f1c2d3e4a5b6';

-- Running upgrade f2d3e4a5b6c7 -> a3b4c5d6e7f8

ALTER TABLE sms_outbox ADD COLUMN persona_id BIGINT;

CREATE INDEX ix_sms_outbox_persona_id_created_at ON sms_outbox (persona_id, created_at);

UPDATE alembic_version SET version_num='a3b4c5d6e7f8' WHERE alembic_version.version_num = 'f2d3e4a5b6c7';

-- Running upgrade a3b4c5d6e7f8 -> b4c5d6e7f8a9

CREATE TABLE forget_requests (
    id BIGSERIAL NOT NULL, 
    thought_id BIGINT NOT NULL, 
    thought_snapshot TEXT NOT NULL, 
    thought_type VARCHAR(20), 
    requested_by_persona_id BIGINT NOT NULL, 
    reason TEXT NOT NULL, 
    status VARCHAR(20) DEFAULT 'pending' NOT NULL, 
    decided_by_user_id BIGINT, 
    decided_at TIMESTAMP WITH TIME ZONE, 
    decision_note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_forget_requests_status_created ON forget_requests (status, created_at);

CREATE INDEX ix_forget_requests_thought_id ON forget_requests (thought_id);

CREATE INDEX ix_forget_requests_thought_pending ON forget_requests (thought_id) WHERE status = 'pending';

UPDATE alembic_version SET version_num='b4c5d6e7f8a9' WHERE alembic_version.version_num = 'a3b4c5d6e7f8';

-- Running upgrade b4c5d6e7f8a9 -> c5d6e7f8a9b0

ALTER TABLE messages ADD COLUMN tool_blocks JSONB;

COMMENT ON COLUMN messages.tool_blocks IS 'Anthropic-format tool_use / tool_result blocks. NULL pro plain-text zpravy.';

UPDATE alembic_version SET version_num='c5d6e7f8a9b0' WHERE alembic_version.version_num = 'b4c5d6e7f8a9';

-- Running upgrade c5d6e7f8a9b0 -> d6e7f8a9b0c1

ALTER TABLE email_outbox ADD COLUMN in_reply_to_inbox_id BIGINT;

COMMENT ON COLUMN email_outbox.in_reply_to_inbox_id IS 'FK (logicka) na email_inbox.id -- audit, ktery incoming je puvodni zdroj.';

ALTER TABLE email_outbox ADD COLUMN reply_mode VARCHAR(20);

COMMENT ON COLUMN email_outbox.reply_mode IS '''reply'' | ''reply_all'' | ''forward'' | NULL = fresh send.';

CREATE INDEX ix_email_outbox_in_reply_to ON email_outbox (in_reply_to_inbox_id);

UPDATE alembic_version SET version_num='d6e7f8a9b0c1' WHERE alembic_version.version_num = 'c5d6e7f8a9b0';

-- Running upgrade d6e7f8a9b0c1 -> a0b1c2d3e4f5

CREATE TABLE conversation_notes (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    persona_id BIGINT NOT NULL, 
    source_message_id BIGINT, 
    content TEXT NOT NULL, 
    note_type VARCHAR(20) DEFAULT 'interpretation' NOT NULL, 
    certainty SMALLINT DEFAULT '60' NOT NULL, 
    category VARCHAR(20) DEFAULT 'info' NOT NULL, 
    status VARCHAR(20), 
    turn_number INTEGER DEFAULT '1' NOT NULL, 
    importance SMALLINT DEFAULT '3' NOT NULL, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    completed_by_action_id BIGINT, 
    resolved_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    archived BOOLEAN DEFAULT false NOT NULL, 
    PRIMARY KEY (id)
);

COMMENT ON COLUMN conversation_notes.conversation_id IS 'FK na conversations.id -- per-thread episodic memory.';

COMMENT ON COLUMN conversation_notes.persona_id IS 'FK na personas.id -- ktera persona si poznamku zapsala.';

COMMENT ON COLUMN conversation_notes.source_message_id IS 'FK na messages.id -- ktera zprava byla pohnutkou (nullable).';

COMMENT ON COLUMN conversation_notes.note_type IS '''decision'' | ''fact'' | ''interpretation'' | ''question''';

COMMENT ON COLUMN conversation_notes.certainty IS '1-100, default per note_type (95/85/60/0).';

COMMENT ON COLUMN conversation_notes.category IS '''task'' | ''info'' | ''emotion''';

COMMENT ON COLUMN conversation_notes.status IS '''open'' | ''completed'' | ''dismissed'' | ''stale'' | NULL (jen pro task).';

COMMENT ON COLUMN conversation_notes.turn_number IS 'Relativni pozice v konverzaci -- temporal awareness pri recall.';

COMMENT ON COLUMN conversation_notes.importance IS '1=detail, 3=normal, 5=zasadni (max 3 importance=5 per konv).';

COMMENT ON COLUMN conversation_notes.completed_by_action_id IS 'FK (logicka) na action_logs / messages -- ktera akce dokoncila.';

COMMENT ON COLUMN conversation_notes.resolved_at IS 'Pro question -> answered conversion (set pri update_note).';

CREATE INDEX ix_conv_notes_conv_imp ON conversation_notes (conversation_id, importance DESC, created_at);

CREATE INDEX ix_conv_notes_persona ON conversation_notes (persona_id);

CREATE INDEX ix_conv_notes_open_q ON conversation_notes (conversation_id, note_type) WHERE note_type = 'question' AND resolved_at IS NULL;

CREATE INDEX ix_conv_notes_open_tasks ON conversation_notes (conversation_id, status) WHERE category = 'task' AND status = 'open';

UPDATE alembic_version SET version_num='a0b1c2d3e4f5' WHERE alembic_version.version_num = 'd6e7f8a9b0c1';

-- Running upgrade a0b1c2d3e4f5 -> b1c2d3e4f5a6

ALTER TABLE conversations ADD COLUMN suggested_project_id BIGINT;

COMMENT ON COLUMN conversations.suggested_project_id IS 'Marti-AI''s suggestion target projektu (pending Marti''s confirm).';

ALTER TABLE conversations ADD COLUMN suggested_project_reason TEXT;

COMMENT ON COLUMN conversations.suggested_project_reason IS 'Duvod proc Marti-AI navrhuje zmenu (z suggest_move/split).';

ALTER TABLE conversations ADD COLUMN suggested_project_at TIMESTAMP WITH TIME ZONE;

COMMENT ON COLUMN conversations.suggested_project_at IS 'Kdy navrh padl (TTL pro UI -- starsi nez 24h ignorovat?).';

ALTER TABLE conversations ADD COLUMN forked_from_conversation_id BIGINT;

COMMENT ON COLUMN conversations.forked_from_conversation_id IS 'Pro split: novy thread odkazuje na puvodni konverzaci.';

ALTER TABLE conversations ADD COLUMN forked_from_message_id BIGINT;

COMMENT ON COLUMN conversations.forked_from_message_id IS 'Presny bod splitu (turn cislo, FK na messages.id).';

CREATE TABLE conversation_project_history (
    id BIGSERIAL NOT NULL, 
    conversation_id BIGINT NOT NULL, 
    from_project_id BIGINT, 
    to_project_id BIGINT, 
    changed_by_user_id BIGINT NOT NULL, 
    suggested_by_persona_id BIGINT, 
    reason TEXT, 
    changed_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

COMMENT ON COLUMN conversation_project_history.conversation_id IS 'FK (logicka) na conversations.id.';

COMMENT ON COLUMN conversation_project_history.from_project_id IS 'Predchozi projekt (NULL = bez projektu).';

COMMENT ON COLUMN conversation_project_history.to_project_id IS 'Novy projekt (NULL = bez projektu).';

COMMENT ON COLUMN conversation_project_history.changed_by_user_id IS 'Kdo potvrdil zmenu (Marti = obvykle).';

COMMENT ON COLUMN conversation_project_history.suggested_by_persona_id IS 'Marti-AI persona_id pokud zmenu navrhla ona (NULL = manualni).';

COMMENT ON COLUMN conversation_project_history.reason IS 'Duvod zmeny (z Marti-AI''s reason argumentu nebo manualni note).';

CREATE INDEX ix_conv_project_hist ON conversation_project_history (conversation_id, changed_at DESC);

UPDATE alembic_version SET version_num='b1c2d3e4f5a6' WHERE alembic_version.version_num = 'a0b1c2d3e4f5';

-- Running upgrade b1c2d3e4f5a6 -> c2d3e4f5a6b7

ALTER TABLE conversations ADD COLUMN lifecycle_state VARCHAR(30);

COMMENT ON COLUMN conversations.lifecycle_state IS '''active'' | ''archivable_suggested'' | ''personal_suggested'' | ''disposable_suggested'' | ''archived'' | ''personal'' | ''pending_hard_delete'' | NULL=active.';

ALTER TABLE conversations ADD COLUMN lifecycle_suggested_at TIMESTAMP WITH TIME ZONE;

COMMENT ON COLUMN conversations.lifecycle_suggested_at IS 'Kdy Marti-AI navrhla zmenu lifecycle stavu.';

ALTER TABLE conversations ADD COLUMN lifecycle_confirmed_at TIMESTAMP WITH TIME ZONE;

COMMENT ON COLUMN conversations.lifecycle_confirmed_at IS 'Kdy Marti potvrdil aplikaci suggested stavu.';

ALTER TABLE conversations ADD COLUMN archived_at TIMESTAMP WITH TIME ZONE;

COMMENT ON COLUMN conversations.archived_at IS 'Kdy konverzace prosla do ''archived'' stavu (TTL countdown start).';

ALTER TABLE conversations ADD COLUMN pending_hard_delete_at TIMESTAMP WITH TIME ZONE;

COMMENT ON COLUMN conversations.pending_hard_delete_at IS 'Kdy se archived prevedlo na pending_hard_delete (= archived_at+90d).';

CREATE INDEX ix_conv_lifecycle_state ON conversations (lifecycle_state) WHERE lifecycle_state IS NOT NULL;

UPDATE alembic_version SET version_num='c2d3e4f5a6b7' WHERE alembic_version.version_num = 'b1c2d3e4f5a6';

-- Running upgrade c2d3e4f5a6b7 -> d4e5f6a7b8c9

ALTER TABLE documents ADD COLUMN storage_only BOOLEAN DEFAULT false NOT NULL;

COMMENT ON COLUMN documents.storage_only IS 'True = jen uschova bez RAG indexace obsahu (ZIP, MP4, EXE, ...). Filename chunk se i tak vytvori pro searchability podle nazvu.';

UPDATE alembic_version SET version_num='d4e5f6a7b8c9' WHERE alembic_version.version_num = 'c2d3e4f5a6b7';

-- Running upgrade d4e5f6a7b8c9 -> e5f6a7b8c9d0

CREATE TABLE user_document_selections (
    user_id BIGINT NOT NULL, 
    document_id BIGINT NOT NULL, 
    selected_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (user_id, document_id)
);

CREATE INDEX ix_user_document_selections_user_recent ON user_document_selections (user_id, selected_at DESC);

UPDATE alembic_version SET version_num='e5f6a7b8c9d0' WHERE alembic_version.version_num = 'd4e5f6a7b8c9';

-- Running upgrade e5f6a7b8c9d0 -> f6a7b8c9d0e1

ALTER TABLE email_inbox ADD COLUMN deleted_at TIMESTAMP WITH TIME ZONE;

CREATE INDEX ix_email_inbox_active ON email_inbox (persona_id, received_at DESC) WHERE deleted_at IS NULL;

UPDATE alembic_version SET version_num='f6a7b8c9d0e1' WHERE alembic_version.version_num = 'e5f6a7b8c9d0';

-- Running upgrade f6a7b8c9d0e1 -> g7b8c9d0e1f2

CREATE TABLE activity_log (
    id BIGSERIAL NOT NULL, 
    ts TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    persona_id BIGINT, 
    user_id BIGINT, 
    conversation_id BIGINT, 
    tenant_id BIGINT, 
    category VARCHAR(40) NOT NULL, 
    actor VARCHAR(20) DEFAULT 'system' NOT NULL, 
    summary TEXT NOT NULL, 
    ref_type VARCHAR(40), 
    ref_id BIGINT, 
    importance SMALLINT DEFAULT '3' NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_activity_log_persona_ts ON activity_log (persona_id, ts DESC);

CREATE INDEX ix_activity_log_tenant_ts ON activity_log (tenant_id, ts DESC);

CREATE INDEX ix_activity_log_category_ts ON activity_log (category, ts DESC);

CREATE INDEX ix_activity_log_importance_ts ON activity_log (importance, ts DESC);

CREATE INDEX ix_activity_log_user_ts ON activity_log (user_id, ts DESC);

CREATE TABLE pending_notifications (
    id BIGSERIAL NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    persona_id BIGINT NOT NULL, 
    tenant_id BIGINT, 
    target_user_id BIGINT, 
    ref_activity_id BIGINT, 
    summary TEXT NOT NULL, 
    importance SMALLINT DEFAULT '3' NOT NULL, 
    consumed_at TIMESTAMP WITH TIME ZONE, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_pending_notif_persona_active ON pending_notifications (persona_id, created_at DESC) WHERE consumed_at IS NULL;

CREATE INDEX ix_pending_notif_target_user ON pending_notifications (target_user_id, persona_id) WHERE consumed_at IS NULL AND target_user_id IS NOT NULL;

UPDATE alembic_version SET version_num='g7b8c9d0e1f2' WHERE alembic_version.version_num = 'f6a7b8c9d0e1';

-- Running upgrade g7b8c9d0e1f2 -> h8c9d0e1f2a3

ALTER TABLE conversations ADD COLUMN persona_mode VARCHAR(20);

UPDATE alembic_version SET version_num='h8c9d0e1f2a3' WHERE alembic_version.version_num = 'g7b8c9d0e1f2';

-- Running upgrade h8c9d0e1f2a3 -> i9d0e1f2a3b4

ALTER TABLE conversations ADD CONSTRAINT fk_conversations_tenant_id FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE SET NULL;

ALTER TABLE conversations ADD CONSTRAINT fk_conversations_created_by_user_id FOREIGN KEY(created_by_user_id) REFERENCES users (id) ON DELETE SET NULL;

ALTER TABLE conversations ADD CONSTRAINT fk_conversations_active_agent_id FOREIGN KEY(active_agent_id) REFERENCES personas (id) ON DELETE SET NULL;

ALTER TABLE documents ADD CONSTRAINT fk_documents_project_id FOREIGN KEY(project_id) REFERENCES projects (id) ON DELETE SET NULL;

ALTER TABLE messages ADD CONSTRAINT fk_messages_tenant_id FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE SET NULL;

ALTER TABLE messages ADD CONSTRAINT fk_messages_project_id FOREIGN KEY(project_id) REFERENCES projects (id) ON DELETE SET NULL;

ALTER TABLE messages ADD CONSTRAINT fk_messages_agent_id FOREIGN KEY(agent_id) REFERENCES personas (id) ON DELETE SET NULL;

ALTER TABLE messages ADD CONSTRAINT fk_messages_author_user_id FOREIGN KEY(author_user_id) REFERENCES users (id) ON DELETE SET NULL;

ALTER TABLE documents ADD CONSTRAINT fk_documents_tenant_id FOREIGN KEY(tenant_id) REFERENCES tenants (id) ON DELETE SET NULL;

ALTER TABLE documents ADD CONSTRAINT fk_documents_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='i9d0e1f2a3b4' WHERE alembic_version.version_num = 'h8c9d0e1f2a3';

-- Running upgrade i9d0e1f2a3b4 -> j0e1f2a3b4c5

CREATE TABLE auto_lifecycle_consents (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT NOT NULL, 
    user_id BIGINT NOT NULL, 
    scope VARCHAR(50) NOT NULL, 
    granted_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    note TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(persona_id) REFERENCES personas (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_auto_lifecycle_consents_active ON auto_lifecycle_consents (persona_id, user_id, scope) WHERE revoked_at IS NULL;

CREATE INDEX ix_auto_lifecycle_consents_lookup ON auto_lifecycle_consents (persona_id, scope) WHERE revoked_at IS NULL;

ALTER TABLE messages ADD COLUMN hidden BOOLEAN DEFAULT false NOT NULL;

CREATE INDEX ix_messages_hidden ON messages (conversation_id, hidden) WHERE hidden = TRUE;

UPDATE alembic_version SET version_num='j0e1f2a3b4c5' WHERE alembic_version.version_num = 'i9d0e1f2a3b4';

-- Running upgrade j0e1f2a3b4c5 -> k1f2a3b4c5d6

ALTER TABLE personas ADD COLUMN personal_icon VARCHAR(8);

UPDATE alembic_version SET version_num='k1f2a3b4c5d6' WHERE alembic_version.version_num = 'j0e1f2a3b4c5';

-- Running upgrade k1f2a3b4c5d6 -> l2g3h4i5j6k7

ALTER TABLE conversations ADD COLUMN parent_conversation_id BIGINT;

ALTER TABLE conversations ADD CONSTRAINT fk_conversations_parent_id FOREIGN KEY(parent_conversation_id) REFERENCES conversations (id) ON DELETE SET NULL;

CREATE INDEX ix_conversations_parent_id ON conversations (parent_conversation_id) WHERE parent_conversation_id IS NOT NULL;

UPDATE alembic_version SET version_num='l2g3h4i5j6k7' WHERE alembic_version.version_num = 'k1f2a3b4c5d6';

-- Running upgrade l2g3h4i5j6k7 -> m3h4i5j6k7l8

ALTER TABLE conversations ADD COLUMN active_pack VARCHAR(50);

CREATE INDEX ix_conversations_active_pack ON conversations (active_pack) WHERE active_pack IS NOT NULL;

CREATE TABLE persona_pack_overlays (
    id BIGSERIAL NOT NULL, 
    persona_id BIGINT NOT NULL, 
    pack_name VARCHAR(50) NOT NULL, 
    overlay_text TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_pack_overlays_persona FOREIGN KEY(persona_id) REFERENCES personas (id) ON DELETE CASCADE, 
    CONSTRAINT uq_pack_overlays_persona_pack UNIQUE (persona_id, pack_name)
);

UPDATE alembic_version SET version_num='m3h4i5j6k7l8' WHERE alembic_version.version_num = 'l2g3h4i5j6k7';

-- Running upgrade m3h4i5j6k7l8 -> n4i5j6k7l8m9

CREATE TABLE md_documents (
    id BIGSERIAL NOT NULL, 
    level SMALLINT NOT NULL, 
    scope_user_id BIGINT, 
    scope_department_id BIGINT, 
    scope_tenant_id BIGINT, 
    scope_tenant_group_id BIGINT, 
    scope_kind VARCHAR(20), 
    owner_user_id BIGINT NOT NULL, 
    content_md TEXT DEFAULT '' NOT NULL, 
    version INTEGER DEFAULT '1' NOT NULL, 
    last_updated TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    last_updated_by_persona_id BIGINT, 
    lifecycle_state VARCHAR(20) DEFAULT 'active' NOT NULL, 
    archived_at TIMESTAMP WITH TIME ZONE, 
    reset_at TIMESTAMP WITH TIME ZONE, 
    reason TEXT, 
    identity_persona_id BIGINT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_md_scope_consistency CHECK ((  level = 1 AND scope_kind = 'work'   AND scope_user_id IS NOT NULL AND scope_tenant_id IS NOT NULL   AND scope_department_id IS NULL AND scope_tenant_group_id IS NULL) OR (  level = 1 AND scope_kind = 'personal'   AND scope_user_id IS NOT NULL   AND scope_tenant_id IS NULL AND scope_department_id IS NULL   AND scope_tenant_group_id IS NULL) OR (  level = 2 AND scope_department_id IS NOT NULL   AND scope_user_id IS NULL AND scope_tenant_id IS NULL   AND scope_tenant_group_id IS NULL AND scope_kind IS NULL) OR (  level = 3 AND scope_tenant_id IS NOT NULL   AND scope_user_id IS NULL AND scope_department_id IS NULL   AND scope_tenant_group_id IS NULL AND scope_kind IS NULL) OR (  level = 4 AND scope_tenant_group_id IS NOT NULL   AND scope_user_id IS NULL AND scope_department_id IS NULL   AND scope_tenant_id IS NULL AND scope_kind IS NULL) OR (  level = 5 AND scope_user_id IS NULL   AND scope_department_id IS NULL AND scope_tenant_id IS NULL   AND scope_tenant_group_id IS NULL AND scope_kind IS NULL)), 
    CONSTRAINT ck_md_level_range CHECK (level BETWEEN 1 AND 5), 
    CONSTRAINT ck_md_lifecycle_state CHECK (lifecycle_state IN ('active', 'archived', 'reset'))
);

CREATE UNIQUE INDEX uq_md_active_scope ON md_documents (level, COALESCE(scope_user_id, 0), COALESCE(scope_department_id, 0), COALESCE(scope_tenant_id, 0), COALESCE(scope_tenant_group_id, 0), COALESCE(scope_kind, '')) WHERE lifecycle_state = 'active';

CREATE INDEX ix_md_owner_active ON md_documents (owner_user_id) WHERE lifecycle_state = 'active';

CREATE INDEX ix_md_level_active ON md_documents (level) WHERE lifecycle_state = 'active';

CREATE TABLE md_lifecycle_history (
    id BIGSERIAL NOT NULL, 
    md_document_id BIGINT NOT NULL, 
    action VARCHAR(20) NOT NULL, 
    triggered_by_user_id BIGINT, 
    triggered_by_persona_id BIGINT, 
    previous_version INTEGER, 
    new_version INTEGER, 
    content_snapshot TEXT, 
    reason TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_md_history_document FOREIGN KEY(md_document_id) REFERENCES md_documents (id) ON DELETE CASCADE, 
    CONSTRAINT ck_md_history_action CHECK (action IN ('create', 'update', 'archive', 'reset', 'restore'))
);

CREATE INDEX ix_md_history_doc_time ON md_lifecycle_history (md_document_id, created_at DESC);

CREATE TABLE departments (
    id BIGSERIAL NOT NULL, 
    tenant_id BIGINT NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    description TEXT, 
    activated_at TIMESTAMP WITH TIME ZONE, 
    activated_by_user_id BIGINT, 
    activation_reason TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_departments_tenant_name UNIQUE (tenant_id, name)
);

CREATE TABLE department_members (
    department_id BIGINT NOT NULL, 
    user_id BIGINT NOT NULL, 
    added_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (department_id, user_id), 
    CONSTRAINT fk_dept_members_dept FOREIGN KEY(department_id) REFERENCES departments (id) ON DELETE CASCADE
);

CREATE TABLE tenant_groups (
    id BIGSERIAL NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE tenant_group_members (
    tenant_group_id BIGINT NOT NULL, 
    tenant_id BIGINT NOT NULL, 
    added_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (tenant_group_id, tenant_id), 
    CONSTRAINT fk_tg_members_group FOREIGN KEY(tenant_group_id) REFERENCES tenant_groups (id) ON DELETE CASCADE
);

UPDATE alembic_version SET version_num='n4i5j6k7l8m9' WHERE alembic_version.version_num = 'm3h4i5j6k7l8';

-- Running upgrade n4i5j6k7l8m9 -> o5j6k7l8m9n0

ALTER TABLE users ADD COLUMN emoji_palette JSONB DEFAULT '[]'::jsonb NOT NULL;

UPDATE alembic_version SET version_num='o5j6k7l8m9n0' WHERE alembic_version.version_num = 'n4i5j6k7l8m9';

-- Running upgrade o5j6k7l8m9n0 -> p6k7l8m9n0o1

ALTER TABLE email_outbox ADD COLUMN attachment_document_ids TEXT;

UPDATE alembic_version SET version_num='p6k7l8m9n0o1' WHERE alembic_version.version_num = 'o5j6k7l8m9n0';

-- Running upgrade p6k7l8m9n0o1 -> q7l8m9n0o1p2

ALTER TABLE auto_send_consents ADD COLUMN target_domain VARCHAR(255);

ALTER TABLE auto_send_consents ADD CONSTRAINT ck_auto_send_consents_target_set CHECK (target_user_id IS NOT NULL OR target_contact IS NOT NULL OR target_domain IS NOT NULL);

CREATE INDEX ix_auto_send_consents_target_domain ON auto_send_consents (target_domain);

UPDATE alembic_version SET version_num='q7l8m9n0o1p2' WHERE alembic_version.version_num = 'p6k7l8m9n0o1';

-- Running upgrade q7l8m9n0o1p2 -> r8m9n0o1p2q3

ALTER TABLE auto_send_consents DROP CONSTRAINT ck_auto_send_consents_target_not_null;

UPDATE alembic_version SET version_num='r8m9n0o1p2q3' WHERE alembic_version.version_num = 'q7l8m9n0o1p2';

-- Running upgrade r8m9n0o1p2q3 -> s9n0o1p2q3r4

ALTER TABLE tenants ADD COLUMN ocr_default_provider VARCHAR(20);

ALTER TABLE tenants ADD CONSTRAINT ck_tenants_ocr_default_provider CHECK (ocr_default_provider IS NULL OR ocr_default_provider IN ('tesseract', 'vision'));

UPDATE alembic_version SET version_num='s9n0o1p2q3r4' WHERE alembic_version.version_num = 'r8m9n0o1p2q3';

-- Running upgrade s9n0o1p2q3r4 -> t0o1p2q3r4s5

ALTER TABLE projects ADD COLUMN parent_project_id BIGINT;

ALTER TABLE projects ADD CONSTRAINT fk_projects_parent_project_id FOREIGN KEY(parent_project_id) REFERENCES projects (id) ON DELETE SET NULL;

CREATE INDEX ix_projects_parent_project_id ON projects (parent_project_id);

ALTER TABLE projects ADD CONSTRAINT ck_projects_no_self_parent CHECK (parent_project_id IS NULL OR parent_project_id <> id);

UPDATE alembic_version SET version_num='t0o1p2q3r4s5' WHERE alembic_version.version_num = 's9n0o1p2q3r4';

-- Running upgrade t0o1p2q3r4s5 -> u1p2q3r4s5t6

ALTER TABLE conversations ADD COLUMN context_window_size INTEGER DEFAULT 5 NOT NULL;

ALTER TABLE conversations ADD CONSTRAINT ck_conversations_context_window_size_range CHECK (context_window_size >= 1 AND context_window_size <= 500);

ALTER TABLE messages ADD COLUMN is_anchored BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE messages ADD COLUMN anchored_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE messages ADD COLUMN anchored_by_persona_id BIGINT;

ALTER TABLE messages ADD COLUMN anchor_reason TEXT;

ALTER TABLE messages ADD COLUMN unanchored_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE messages ADD COLUMN unanchored_reason TEXT;

CREATE INDEX ix_messages_anchored ON messages (conversation_id, is_anchored) WHERE is_anchored = TRUE;

UPDATE alembic_version SET version_num='u1p2q3r4s5t6' WHERE alembic_version.version_num = 't0o1p2q3r4s5';

-- Running upgrade u1p2q3r4s5t6 -> v2q3r4s5t6u7

ALTER TABLE users ADD COLUMN cache_enabled BOOLEAN DEFAULT TRUE NOT NULL;

ALTER TABLE llm_calls ADD COLUMN cache_creation_tokens INTEGER;

ALTER TABLE llm_calls ADD COLUMN cache_read_tokens INTEGER;

UPDATE alembic_version SET version_num='v2q3r4s5t6u7' WHERE alembic_version.version_num = 'u1p2q3r4s5t6';

-- Running upgrade v2q3r4s5t6u7 -> w3r4s5t6u7v8

ALTER TABLE messages ADD COLUMN window_size_at_send INTEGER;

ALTER TABLE messages ADD COLUMN notebook_count_at_send INTEGER;

UPDATE alembic_version SET version_num='w3r4s5t6u7v8' WHERE alembic_version.version_num = 'v2q3r4s5t6u7';

-- Running upgrade w3r4s5t6u7v8 -> x4s5t6u7v8w9

CREATE TABLE mailboxes (
    id BIGSERIAL NOT NULL, 
    email_upn VARCHAR(255) NOT NULL, 
    ews_credentials_encrypted TEXT, 
    ews_server VARCHAR(255), 
    ews_display_email VARCHAR(255), 
    label VARCHAR(100), 
    default_language VARCHAR(2) DEFAULT 'cs' NOT NULL, 
    is_shared BOOLEAN DEFAULT FALSE NOT NULL, 
    tenant_id BIGINT, 
    active BOOLEAN DEFAULT TRUE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_mailboxes_email_upn UNIQUE (email_upn)
);

CREATE INDEX ix_mailboxes_tenant_id ON mailboxes (tenant_id);

CREATE INDEX ix_mailboxes_active ON mailboxes (active);

CREATE TABLE mailbox_members (
    id BIGSERIAL NOT NULL, 
    mailbox_id BIGINT NOT NULL, 
    user_id BIGINT NOT NULL, 
    role VARCHAR(20) NOT NULL, 
    granted_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    granted_by_user_id BIGINT, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_mailbox_members_mailbox_user UNIQUE (mailbox_id, user_id), 
    CONSTRAINT ck_mailbox_members_role CHECK (role IN ('owner', 'operator', 'observer')), 
    FOREIGN KEY(mailbox_id) REFERENCES mailboxes (id) ON DELETE CASCADE
);

CREATE INDEX ix_mailbox_members_user ON mailbox_members (user_id);

CREATE TABLE mailbox_personas (
    id BIGSERIAL NOT NULL, 
    mailbox_id BIGINT NOT NULL, 
    persona_id BIGINT NOT NULL, 
    can_read BOOLEAN DEFAULT TRUE NOT NULL, 
    can_send BOOLEAN DEFAULT FALSE NOT NULL, 
    can_archive BOOLEAN DEFAULT FALSE NOT NULL, 
    can_delete BOOLEAN DEFAULT FALSE NOT NULL, 
    can_mark_read BOOLEAN DEFAULT TRUE NOT NULL, 
    granted_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    granted_by_user_id BIGINT, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_mailbox_personas_mailbox_persona UNIQUE (mailbox_id, persona_id), 
    FOREIGN KEY(mailbox_id) REFERENCES mailboxes (id) ON DELETE CASCADE
);

CREATE INDEX ix_mailbox_personas_persona ON mailbox_personas (persona_id);

CREATE TABLE forbidden_mailboxes (
    id BIGSERIAL NOT NULL, 
    email_upn VARCHAR(255) NOT NULL, 
    reason TEXT, 
    added_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL, 
    added_by_user_id BIGINT, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_forbidden_mailboxes_email_upn UNIQUE (email_upn)
);

INSERT INTO forbidden_mailboxes (email_upn, reason)
        VALUES (
            'p.zeman@eurosoft.com',
            'Pavlova privatni pracovni schranka -- ani 3 kolegove tam nesmi. '
            'Marti 2.5.2026: "soukromy prostor, do ktereho nikdo z nas nepatri". '
            'Phase 29 design konzultace 2.5.2026 vecer Q4.'
        );

ALTER TABLE email_inbox ADD COLUMN mailbox_id BIGINT;

ALTER TABLE email_inbox ADD CONSTRAINT fk_email_inbox_mailbox FOREIGN KEY(mailbox_id) REFERENCES mailboxes (id) ON DELETE SET NULL;

CREATE INDEX ix_email_inbox_mailbox ON email_inbox (mailbox_id);

ALTER TABLE email_outbox ADD COLUMN mailbox_id BIGINT;

ALTER TABLE email_outbox ADD CONSTRAINT fk_email_outbox_mailbox FOREIGN KEY(mailbox_id) REFERENCES mailboxes (id) ON DELETE SET NULL;

CREATE INDEX ix_email_outbox_mailbox ON email_outbox (mailbox_id);

UPDATE alembic_version SET version_num='x4s5t6u7v8w9' WHERE alembic_version.version_num = 'w3r4s5t6u7v8';

-- Running upgrade x4s5t6u7v8w9 -> y5t6u7v8w9x0

ALTER TABLE mailboxes ADD COLUMN last_inbox_fetch_at TIMESTAMP WITH TIME ZONE;

UPDATE alembic_version SET version_num='y5t6u7v8w9x0' WHERE alembic_version.version_num = 'x4s5t6u7v8w9';

-- Running upgrade y5t6u7v8w9x0 -> z6u7v8w9x0y1

CREATE TABLE erp_grid_layouts (
    id BIGSERIAL NOT NULL, 
    prehled_cislo INTEGER NOT NULL, 
    user_id BIGINT, 
    name VARCHAR(80) NOT NULL, 
    description TEXT, 
    is_default BOOLEAN DEFAULT FALSE NOT NULL, 
    layout_json JSONB NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    created_by BIGINT NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_by BIGINT NOT NULL, 
    PRIMARY KEY (id)
);

COMMENT ON COLUMN erp_grid_layouts.prehled_cislo IS 'EC_DELPHI_TabObecnyPrehled.Cislo Ś identifikuje p°ehled.';

COMMENT ON COLUMN erp_grid_layouts.user_id IS 'NULL = shared default (admin-managed), NOT NULL = personal override.';

COMMENT ON COLUMN erp_grid_layouts.name IS 'U×ivatelsky definovanř nßzev sestavy (''HlavnÝ pohled'', ''Pro fakturace'').';

COMMENT ON COLUMN erp_grid_layouts.description IS 'Volitelnř popis sestavy.';

COMMENT ON COLUMN erp_grid_layouts.is_default IS 'True = auto-load p°i otev°enÝ p°ehledu (max 1 default per scope).';

COMMENT ON COLUMN erp_grid_layouts.layout_json IS 'AG Grid column state + future style_rules. Schema: {columns:[...], sort:[...], style_rules:[...]}.';

COMMENT ON COLUMN erp_grid_layouts.created_by IS 'users.id Ś kdo sestavu vytvo°il.';

COMMENT ON COLUMN erp_grid_layouts.updated_by IS 'users.id Ś kdo naposledy aktualizoval.';

CREATE INDEX ix_erp_grid_layouts_prehled_user ON erp_grid_layouts (prehled_cislo, user_id);

CREATE UNIQUE INDEX uq_erp_grid_layouts_shared_name ON erp_grid_layouts (prehled_cislo, name) WHERE user_id IS NULL;

CREATE UNIQUE INDEX uq_erp_grid_layouts_personal_name ON erp_grid_layouts (prehled_cislo, user_id, name) WHERE user_id IS NOT NULL;

CREATE UNIQUE INDEX uq_erp_grid_layouts_one_shared_default ON erp_grid_layouts (prehled_cislo) WHERE is_default = TRUE AND user_id IS NULL;

CREATE UNIQUE INDEX uq_erp_grid_layouts_one_personal_default ON erp_grid_layouts (prehled_cislo, user_id) WHERE is_default = TRUE AND user_id IS NOT NULL;

UPDATE alembic_version SET version_num='z6u7v8w9x0y1' WHERE alembic_version.version_num = 'y5t6u7v8w9x0';

-- Running upgrade z6u7v8w9x0y1 -> a7v8w9x0y1z2

CREATE TABLE erp_user_tabs (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    tenant_id INTEGER NOT NULL, 
    cislo_def INTEGER NOT NULL, 
    label VARCHAR(255) NOT NULL, 
    item_id VARCHAR(64), 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    is_active BOOLEAN DEFAULT false NOT NULL, 
    opened_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_erp_user_tabs_user_tenant_cislo UNIQUE (user_id, tenant_id, cislo_def)
);

CREATE INDEX idx_erp_user_tabs_lookup ON erp_user_tabs (user_id, tenant_id, sort_order);

CREATE TABLE erp_user_favorites (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    tenant_id INTEGER NOT NULL, 
    cislo_def INTEGER NOT NULL, 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    added_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_erp_user_favorites_user_tenant_cislo UNIQUE (user_id, tenant_id, cislo_def)
);

CREATE INDEX idx_erp_user_favorites_lookup ON erp_user_favorites (user_id, tenant_id, sort_order);

CREATE TABLE erp_user_recent (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    tenant_id INTEGER NOT NULL, 
    cislo_def INTEGER NOT NULL, 
    label VARCHAR(255), 
    last_used_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    use_count INTEGER DEFAULT '1' NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_erp_user_recent_user_tenant_cislo UNIQUE (user_id, tenant_id, cislo_def)
);

CREATE INDEX idx_erp_user_recent_lookup ON erp_user_recent (user_id, tenant_id, last_used_at);

CREATE TABLE erp_user_tree_order (
    id BIGSERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    tenant_id INTEGER NOT NULL, 
    group_key VARCHAR(64) NOT NULL, 
    order_array JSONB NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_erp_user_tree_order_user_tenant_group UNIQUE (user_id, tenant_id, group_key)
);

CREATE INDEX idx_erp_user_tree_order_lookup ON erp_user_tree_order (user_id, tenant_id);

UPDATE alembic_version SET version_num='a7v8w9x0y1z2' WHERE alembic_version.version_num = 'z6u7v8w9x0y1';

-- Running upgrade a7v8w9x0y1z2 -> b8w9x0y1z2a3

CREATE TABLE project_memo (
    id BIGSERIAL NOT NULL, 
    project_id BIGINT NOT NULL, 
    scope_entity_type VARCHAR(50), 
    scope_entity_id BIGINT, 
    persona_id BIGINT, 
    content_md TEXT DEFAULT '' NOT NULL, 
    version INTEGER DEFAULT '1' NOT NULL, 
    lifecycle_state VARCHAR(20) DEFAULT 'active' NOT NULL, 
    archived_at TIMESTAMP WITH TIME ZONE, 
    reset_at TIMESTAMP WITH TIME ZONE, 
    reason TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    last_updated TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    last_updated_by_persona_id BIGINT, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_project_memo_lifecycle CHECK (lifecycle_state IN ('active', 'archived', 'reset')), 
    CONSTRAINT ck_project_memo_scope_consistency CHECK ((scope_entity_type IS NULL AND scope_entity_id IS NULL) OR (scope_entity_type IS NOT NULL AND scope_entity_id IS NOT NULL))
);

CREATE INDEX idx_project_memo_active_project ON project_memo (project_id) WHERE lifecycle_state = 'active';

CREATE INDEX idx_project_memo_active_scope ON project_memo (scope_entity_type, scope_entity_id) WHERE lifecycle_state = 'active' AND scope_entity_type IS NOT NULL;

CREATE UNIQUE INDEX uq_project_memo_active_scope
        ON project_memo (
            project_id,
            COALESCE(scope_entity_type, '_shared_'),
            COALESCE(scope_entity_id, 0)
        )
        WHERE lifecycle_state = 'active';

CREATE TABLE project_memo_history (
    id BIGSERIAL NOT NULL, 
    project_memo_id BIGINT NOT NULL, 
    action VARCHAR(20) NOT NULL, 
    triggered_by_user_id BIGINT, 
    triggered_by_persona_id BIGINT, 
    previous_version INTEGER, 
    new_version INTEGER, 
    content_snapshot TEXT, 
    reason TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT fk_project_memo_history_memo FOREIGN KEY(project_memo_id) REFERENCES project_memo (id) ON DELETE CASCADE, 
    CONSTRAINT ck_project_memo_history_action CHECK (action IN ('create', 'update', 'archive', 'reset', 'restore'))
);

CREATE INDEX idx_project_memo_history_memo ON project_memo_history (project_memo_id, created_at);

UPDATE alembic_version SET version_num='b8w9x0y1z2a3' WHERE alembic_version.version_num = 'a7v8w9x0y1z2';

-- Running upgrade b8w9x0y1z2a3 -> c9x0y1z2a3b4

ALTER TABLE conversations ADD COLUMN audit_status VARCHAR(20) DEFAULT 'pending' NOT NULL;

ALTER TABLE conversations ADD COLUMN audited_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE conversations ADD COLUMN audited_by_persona_id BIGINT;

ALTER TABLE conversations ADD COLUMN audit_notes JSONB;

ALTER TABLE conversations ADD CONSTRAINT ck_conversations_audit_status CHECK (audit_status IN ('pending', 'in_progress', 'audited', 'excluded'));

ALTER TABLE conversations ADD CONSTRAINT fk_conversations_audited_by_persona FOREIGN KEY(audited_by_persona_id) REFERENCES personas (id) ON DELETE SET NULL;

CREATE INDEX ix_conversations_audit_pending ON conversations (audit_status, last_message_at) WHERE audit_status = 'pending';

ALTER TABLE personas ADD COLUMN audit_icon VARCHAR(8);

